<a href="https://colab.research.google.com/github/JoseAnt96/Anexo-TFM/blob/main/creacion_dataset_modelos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import io
from google.colab import files
import numpy as np
import itertools
import seaborn as sns
from datetime import timedelta

In [ ]:
def upload_files ():
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    df = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')))
    return df

#### A la hora de cargar los datos asegurarse que se trabaja con aquellos que hacen referencia a los años **2014-2018**.

In [ ]:
games = upload_files()
jugadores = upload_files()
equipos = upload_files()

Saving resultados_2014_2018.csv to resultados_2014_2018.csv
User uploaded file "resultados_2014_2018.csv" with length 1070205 bytes

Saving jugadores_2014_2018.csv to jugadores_2014_2018.csv
User uploaded file "jugadores_2014_2018.csv" with length 20418190 bytes

Saving teams.csv to teams.csv
User uploaded file "teams.csv" with length 4063 bytes

In [ ]:
games.GAME_DATE_EST = pd.to_datetime(games['GAME_DATE_EST'], format="%Y/%m/%d")

In [ ]:
jugadores.columns = ['GAME_ID','TEAM_ID','TEAM_ABBREVIATION', 'TEAM_CITY','PLAYER_ID','PLAYER_NAME','POSICION_INICIO','COMMENT','MINUTOS_JUGADOS','TIROS','TIROS_INTENATDOS','PORCENTAJE_ACIERTO_TIROS',
                          'TRIPLES','TRIPLES_INTENTADOS','PORCENTAJE_TRIPLES','TIROS_LIBRES','TIROS_LIBRES_INTENTADOS','PORCENTAJE_TIROS_LIBRES','REBOTES_OFENSIVOS','REBOTES_DEFENSIVOS',
                          'REBOTES','ASISTENCIAS','ROBOS','TAPONES','ROTACIONES','FALTAS','PUNTOS_ANOTADOS','VALORACION']

In [ ]:
temporadas = [2014, 2015, 2016, 2017, 2018] # 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,

In [ ]:
datos = games.loc[:,['GAME_DATE_EST','GAME_ID','HOME_TEAM_ID','VISITOR_TEAM_ID','HOME_TEAM_WINS']].sort_values(['GAME_ID','GAME_DATE_EST']).reset_index().drop('index',axis='columns')
datos

     GAME_DATE_EST   GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID  HOME_TEAM_WINS
0       2014-10-04  11400001    1610612748       1610612740               0
1       2014-10-05  11400002    1610612761       1610612758               1
2       2014-10-06  11400004    1610612741       1610612764               0
3       2014-10-06  11400005    1610612747       1610612743               1
4       2014-10-06  11400006    1610612738       1610612755               1
...            ...       ...           ...              ...             ...
6584    2019-04-10  21801226    1610612749       1610612760               0
6585    2019-04-10  21801227    1610612759       1610612742               1
6586    2019-04-10  21801228    1610612743       1610612750               1
6587    2019-04-10  21801229    1610612746       1610612762               1
6588    2019-04-10  21801230    1610612757       1610612758               1

[6589 rows x 5 columns]

In [ ]:
victorias = equipos[['TEAM_ID']]
victorias["2014"] = 0
victorias["2015"] = 0
victorias["2016"] = 0
victorias["2017"] = 0
victorias["2018"] = 0
victorias

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       TEAM_ID  2014  2015  2016  2017  2018
0   1610612737     0     0     0     0     0
1   1610612738     0     0     0     0     0
2   1610612740     0     0     0     0     0
3   1610612741     0     0     0     0     0
4   1610612742     0     0     0     0     0
5   1610612743     0     0     0     0     0
6   1610612745     0     0     0     0     0
7   1610612746     0     0     0     0     0
8   1610612747     0     0     0     0     0
9   1610612748     0     0     0     0     0
10  1610612749     0     0     0     0     0
11  1610612750     0     0     0     0     0
12  1610612751     0     0     0     0     0
13  1610612752     0     0     0     0     0
14  1610612753     0     0     0     0     0
15  1610612754     0     0     0     0     0
16  1610612755     0     0     0     0     0
17  1610612756     0     0     0     0     0
18  1610612757     0     0     0     0     0
19  1610612758     0     0     0     0     0
20  1610612759     0     0     0     0     0
21  1610612760     0     0     0     0     0
22  1610612761     0     0     0     0     0
23  1610612762     0     0     0     0     0
24  1610612763     0     0     0     0     0
25  1610612764     0     0     0     0     0
26  1610612765     0     0     0     0     0
27  1610612766     0     0     0     0     0
28  1610612739     0     0     0     0     0
29  1610612744     0     0     0     0     0

In [ ]:
ind = victorias.index[victorias["TEAM_ID"] == 1610612737].tolist()

In [ ]:
x = games[games.SEASON == 2014].sort_values(['GAME_ID','GAME_DATE_EST']).reset_index()
fp = x.GAME_DATE_EST[198]
pj5 = x[(x.GAME_DATE_EST < fp)]

In [ ]:
x.HOME_TEAM_WINS[98]

0

In [ ]:
for i in temporadas:
  x = games[games.SEASON == i].sort_values(['GAME_ID','GAME_DATE_EST']).reset_index()
  
  for j in range(0, len(x)):
    fp = x.GAME_DATE_EST[j]
    id_l = x.HOME_TEAM_ID[j]; id_v = x.VISITOR_TEAM_ID[j]

    #Número de partidos jugados por cada uno de los equipos en los ultimos 7 días
    pj = x[(x.GAME_DATE_EST < fp) & (x.GAME_DATE_EST >= (fp - timedelta(days=7)))]
    ult7_l = len(pj[(pj.HOME_TEAM_ID ==id_l) | (pj.VISITOR_TEAM_ID == id_l)])
    ult7_v = len(pj[(pj.HOME_TEAM_ID ==id_v) | (pj.VISITOR_TEAM_ID == id_v)])

    #Ultimos 5 partidos de cada uno de los equipos
    pj5 = x[(x.GAME_DATE_EST < fp)]
    pj_l = pj5[(pj5.HOME_TEAM_ID == id_l) | (pj5.VISITOR_TEAM_ID == id_l)].reset_index()
    pj_l_5p = pj_l.iloc[(len(pj_l)-5):len(pj_l),:]
    pj_v = pj5[(pj5.HOME_TEAM_ID == id_v) | (pj5.VISITOR_TEAM_ID == id_v)].reset_index()
    pj_v_5p = pj_v.iloc[(len(pj_v)-5):len(pj_v),:]

    #Equipo local
    local_win_l = pj_l_5p[(pj_l_5p.HOME_TEAM_ID == id_l) & (pj_l_5p.HOME_TEAM_WINS == 1)]
    visit_win_l = pj_l_5p[(pj_l_5p.VISITOR_TEAM_ID == id_l) & (pj_l_5p.HOME_TEAM_WINS == 0)]
    winl_5match = len(local_win_l)+len(visit_win_l)

    #Equipo visitante
    local_win_v = pj_v_5p[(pj_v_5p.HOME_TEAM_ID == id_v) & (pj_v_5p.HOME_TEAM_WINS == 1)]
    visit_win_v = pj_v_5p[(pj_v_5p.VISITOR_TEAM_ID == id_v) & (pj_v_5p.HOME_TEAM_WINS == 0)]
    winv_5match = len(local_win_v)+len(visit_win_v)

    datos.loc[datos.GAME_ID == x.GAME_ID[j], "ult7dias_local"] = ult7_l
    datos.loc[datos.GAME_ID == x.GAME_ID[j], "ult7dias_visitante"] = ult7_v
    datos.loc[datos.GAME_ID == x.GAME_ID[j], "win_ult5_local"] = winl_5match
    datos.loc[datos.GAME_ID == x.GAME_ID[j], "win_ult5_visitante"] = winv_5match

    ## ESTADISTICAS 
    ##### Estadisticas Local
    #corte = pj[(pj.HOME_TEAM_ID == id_l)| (pj.HOME_TEAM_ID == id_v)| (pj.VISITOR_TEAM_ID == id_l) | (pj.VISITOR_TEAM_ID == id_v)]
    if len(pj_l_5p) > 0:
      id_games_l = pj_l_5p.GAME_ID
      filter_l = jugadores[('GAME_ID')].isin(id_games_l)
      g_j_l = jugadores[filter_l]
      g_j_l = g_j_l[g_j_l.TEAM_ID == id_l]
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_puntos_local"] = sum(g_j_l['PUNTOS_ANOTADOS'])/len(id_games_l)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "porcentaje_triples_local"] = sum(g_j_l['TRIPLES'])/sum(g_j_l['TRIPLES_INTENTADOS'])
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "porcentaje_tiros_libres_local"] = sum(g_j_l['TIROS_LIBRES'])/sum(g_j_l['TIROS_LIBRES_INTENTADOS'])
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_rebotes_local"] = sum(g_j_l['REBOTES'])/len(id_games_l)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_asistencias_local"] = sum(g_j_l['ASISTENCIAS'])/len(id_games_l)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_robos_local"] = sum(g_j_l['ROBOS'])/len(id_games_l)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_tapones_local"] = sum(g_j_l['TAPONES'])/len(id_games_l)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_faltas_local"] = sum(g_j_l['FALTAS'])/len(id_games_l)
      match_player_l = pd.DataFrame(g_j_l.GAME_ID.value_counts())
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_player_local"] = round(match_player_l['GAME_ID'].mean())
    ##### Estadisticas Visitante
    if len(pj_v_5p) > 0:
      id_games_v = pj_v_5p.GAME_ID
      filter_v = jugadores[('GAME_ID')].isin(id_games_v)
      g_j_v = jugadores[filter_v]
      g_j_v = g_j_v[g_j_v.TEAM_ID == id_v]
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_puntos_visitante"] = sum(g_j_v['PUNTOS_ANOTADOS'])/len(id_games_v)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "porcentaje_triples_visitante"] = sum(g_j_v['TRIPLES'])/sum(g_j_v['TRIPLES_INTENTADOS'])
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "porcentaje_tiros_libres_visitante"] = sum(g_j_v['TIROS_LIBRES'])/sum(g_j_v['TIROS_LIBRES_INTENTADOS'])
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_rebotes_visitante"] = sum(g_j_v['REBOTES'])/len(id_games_v)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_asistencias_visitante"] = sum(g_j_v['ASISTENCIAS'])/len(id_games_v)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_robos_visitante"] = sum(g_j_v['ROBOS'])/len(id_games_v)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_tapones_visitante"] = sum(g_j_v['TAPONES'])/len(id_games_v)
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_faltas_visitante"] = sum(g_j_v['FALTAS'])/len(id_games_v)
      match_player_v = pd.DataFrame(g_j_v.GAME_ID.value_counts())
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "mean_player_visitane"] = round(match_player_v['GAME_ID'].mean())

    #### Numero de victorias conseguidas durante la temporada
    ind_local = victorias.index[victorias["TEAM_ID"] == id_l].tolist()
    ind_visitante = victorias.index[victorias["TEAM_ID"] == id_v].tolist()
    resultado = x.HOME_TEAM_WINS[j]
    if resultado == 1:
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "numero_victorias_local"] = victorias.loc[ind_local,str(i)].values[0]
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "numero_victorias_visitante"] = victorias.loc[ind_visitante,str(i)].values[0]
      victorias.loc[ind_local,str(i)]  = victorias.loc[ind_local,str(i)].values[0] + 1
    else:
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "numero_victorias_visitante"] = victorias.loc[ind_visitante,str(i)].values[0]
      datos.loc[datos.GAME_ID == x.GAME_ID[j], "numero_victorias_local"] = victorias.loc[ind_local,str(i)].values[0]
      victorias.loc[ind_visitante,str(i)]  = victorias.loc[ind_visitante,str(i)].values[0] + 1

In [ ]:
ind_local = victorias.index[victorias["TEAM_ID"] == id_l].tolist()
ind_local

[18]

In [ ]:
victorias.loc[ind_local,str(i)].values[0]

56

In [ ]:
c = victorias.loc[ind_local,str(i)].values[0]
c

56

In [ ]:
datos

     GAME_DATE_EST   GAME_ID  ...  mean_faltas_local  mean_player_local
0       2014-10-04  11400001  ...                NaN                NaN
1       2014-10-05  11400002  ...                NaN                NaN
2       2014-10-06  11400004  ...                NaN                NaN
3       2014-10-06  11400005  ...                NaN                NaN
4       2014-10-06  11400006  ...                NaN                NaN
...            ...       ...  ...                ...                ...
6584    2019-04-10  21801226  ...               21.0                9.0
6585    2019-04-10  21801227  ...               17.8               12.0
6586    2019-04-10  21801228  ...               21.6               11.0
6587    2019-04-10  21801229  ...               22.8               12.0
6588    2019-04-10  21801230  ...               16.8               10.0

[6589 rows x 29 columns]

In [ ]:
from google.colab import files

with open('datos_modelo_v1.csv', 'w') as f:
  datos.to_csv(f,  index = False)
  

files.download('datos_modelo_v1.csv')

In [ ]:
datos = upload_files()

Saving datos_modelo_v1.csv to datos_modelo_v1.csv
User uploaded file "datos_modelo_v1.csv" with length 1305099 bytes

In [ ]:
datos

     GAME_DATE_EST   GAME_ID  ...  mean_faltas_local  mean_player_local
0       2014-10-04  11400001  ...                NaN                NaN
1       2014-10-05  11400002  ...                NaN                NaN
2       2014-10-06  11400004  ...                NaN                NaN
3       2014-10-06  11400005  ...                NaN                NaN
4       2014-10-06  11400006  ...                NaN                NaN
...            ...       ...  ...                ...                ...
6584    2019-04-10  21801226  ...               21.0                9.0
6585    2019-04-10  21801227  ...               17.8               12.0
6586    2019-04-10  21801228  ...               21.6               11.0
6587    2019-04-10  21801229  ...               22.8               12.0
6588    2019-04-10  21801230  ...               16.8               10.0

[6589 rows x 27 columns]

In [ ]:
datos_ss = datos.fillna(0)

In [ ]:
datos_ss

     GAME_DATE_EST   GAME_ID  ...  mean_faltas_local  mean_player_local
0       2014-10-04  11400001  ...                0.0                0.0
1       2014-10-05  11400002  ...                0.0                0.0
2       2014-10-06  11400004  ...                0.0                0.0
3       2014-10-06  11400005  ...                0.0                0.0
4       2014-10-06  11400006  ...                0.0                0.0
...            ...       ...  ...                ...                ...
6584    2019-04-10  21801226  ...               21.0                9.0
6585    2019-04-10  21801227  ...               17.8               12.0
6586    2019-04-10  21801228  ...               21.6               11.0
6587    2019-04-10  21801229  ...               22.8               12.0
6588    2019-04-10  21801230  ...               16.8               10.0

[6589 rows x 27 columns]